#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px; /* Adjusted to add space at the top */
  text-align: center;
  overflow: hidden; /* Prevents accidental overflow */
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 80vh; /* Adjust based on your preference */
  overflow-y: auto; /* Makes table scrollable vertically */
}

.table {
  width: 100%; /* Ensures table uses the full container width */
  max-width: 100%; /* Ensures table is not wider than the container */
  margin: 20px 0; /* Adds space above and below the table */
  overflow-x: auto; /* Ensures horizontal scrolling if table is too wide */
}

.button-group, .output {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 16px;
}

.header {
  color: var(--purple-900); /* Clear, readable text color */
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px; /* Separates the header from content below */
  background: linear-gradient(to right, var(--purple-50), var(--purple-100)); /* Simple, light gradient for subtle differentiation */
  border-bottom: 2px solid var(--purple-300); /* Clean line to separate from page content */
  position: relative; /* Ensures header scrolls away */
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition for hover effect */
}

.header:hover {
  background: linear-gradient(to right, var(--purple-100), var(--purple-200)); /* Lighten the gradient on hover for a subtle effect */
  opacity: 0.9; /* Reduce opacity on hover for a slightly transparent effect */
}


.highlight {
  background-color: var(--purple-600);
  color: var(--purple-50);
  border: 1px solid var(--purple-500);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px;
  display: inline-block;
  font-weight: bold;
}
